.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container height to 100% of viewport height */
 
  
}
.box{
  background-image: url("../assets/panoramic-view-sunset-night.jpg");
  background-size:cover; /* Ensure the background image covers the container */
  overflow: hidden; /* Add overflow property to hide any content overflow */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mostInner,
.shrink,
.expand {
  width: 196px;
  height: 196px;
  border-radius: 100%;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mostInner h1 {
  transform: translate(-50%, -50%);
  margin: 0;
}

.shrink {
  animation: shrinkAnimation 10s linear forwards;
}

@keyframes shrinkAnimation {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.expand {
  animation: expandAnimation 10s linear forwards;
}

@keyframes expandAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

