.image {
                         width: 100%;
                         height: 100vh;
                         background-image: url("https://i.redd.it/9wy1d9u65x751.png");
                         background-size: cover;
                         background-position: center;
                        
                       }
                       .navbar {
                         background-color: rgba(0, 0, 0, 0.01);/* Set background color with transparency */
                         padding: 10px;
                         position: absolute; /* Set position to absolute */
                         top: 0; /* Place at the top of the viewport */
                         left: 0; /* Place at the left of the viewport */
                         right: 0; /* Place at the right of the viewport */
                         z-index: 1; /* Set z-index to a value greater than the background image */
                         
                       }

.image h1{
 transform: translateY(35vh);
 margin-left: 10vh;
 
}